!assets/*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.dep
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.backup
.directory
*~
*.mp3
*.fdb*
*.fls
*.html
html/*.xml
html/images/*.svg
latex/*.pdf
localbuild/
Makefile.paths
.vscode/
output/
generated-assets/
cover/

codechat_config.yaml
published/