.mathbook-content .assemblage-like {
  border-radius: 3px;
  border: solid 2px #bfd5ec;
  background-color: #e9eff5;
  margin-bottom: 1em;
}

.mathbook-content .assemblage-like .heading{
    margin-top: -1.25em;
    background-color: #bfd5ec;
    display: table;
    padding: 5px 10px;
}

article[id*='investigation'] {
  background-color: white;
  border: solid 3px #599459 !important;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1em;
}

article[id*='investigation'] .heading {
  margin-top: -1.25em !important;
  background-color: white;
  display: table !important;
  padding: 5px 1em;
  margin-left: 5px;
  font-style: italic;
  font-size: 120% !important;
}

article[id*='investigation'] .codenumber {
  display:none !important;
}

article[id*='investigation'] .heading::after {
  display:none !important;
}

article[id*='example'] {
  border-left: solid 1pt #d1d1d1 !important;
  border-bottom: solid 1pt #d1d1d1;
  padding-left: 1ex !important;
  padding-bottom: 0.5ex !important;
  /* margin-left: 1ex; */
}

.posterior {
  margin-left: 1ex;
  padding-left: 1ex;
  margin-top: -1.25em !important;
  padding-top: 1ex;
  border-left: solid 1pt gray;
}

/*separate proof environment in example solutions:*/
/* article .remark-like .proof {
  margin-top: 1em;
  padding-left: 1ex;
} */

article.proof {
  padding-top: 1ex !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  border-right: none !important;
}

/*change qed symbol:*/
.mathbook-content .proof:after{
  content: "qed";
  font-variant: small-caps;
  font-size: 1.1em;
  margin-right: 0em !important;
  border-bottom: none !important;
  margin-top: -1em !important;
}

article.example-like:after {
  border-bottom: none !important;
}

article.theorem-like {
    border-left: solid 1pt #d1d1d1 !important;
    /* border-right: solid 1pt #d1d1d1 !important; */
    /* background-color: #f0f0f0; */
}

article.theorem-like:after {
  border-bottom: none !important;
}

/*style toc */
/*#toc ul li a, #toc ul li a:link, #toc ul li a:visited {
    color: #20477b;
    background: #e2e6e8;
}*/

#toc h2 a, #toc h2 a:link, #toc h2 a:visited {
    color: white;
    background: #265773;
}

#toc ul li a.active, #toc ul li a:active {
    color: white;
    background: #2a5ea4;
}

/*#toc h2.link.active a {
  background: #1a4e94;
}*/

#toc h2 a:hover {
  color: white;
  background: #265773;
  border-color: #152f53;
}



/* style case headings
.mathbook-content .case > .heading{
  display: inline;
  text-decoration: underline;
  font-weight: normal;
}

.mathbook-content .case > .heading + p {
  display: inline;
} */
