.mathbook-content .assemblage-like {
  border-radius: 3px;
  border: solid 2px #75acc7;
  margin-bottom: 1em;
}

.mathbook-content .assemblage-like .heading{
    margin-top: -1.25em;
    background-color: #bfd5ec;
    display: table;
    padding: 5px 5px;
}

article[id*='investigation'] {
  background-color: #cde4cd;
  border: solid 3px #599459;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1em;
}

article[id*='investigation'] .codenumber {
  display:none;
}

article[id*='investigation'] .heading::after {
  display:none;
}

article[id*='example'] {
  border-left: solid 1pt gray;
  border-bottom: solid 1pt gray;
  margin-left: 1ex;
  padding-left: 1ex;
}
